@charset "utf-8";
/* CSS Document */

.nav-tabs .nav-link {
    border-bottom: 1px solid #242424;
    color: #242424 !important;
	padding-left:0;
	padding-right:0;
	font-size:18px;
	    margin-left: 40px;

}
.nav-tabs {
    border-bottom: none;
}



.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #fff #fff #cf2323 #fff;
}
div#myTabContent{margin-top:30px;}
.nav-tabs .nav-link {
    color: #cc0000;
    TEXT-TRANSFORM: uppercase;
}






